<div class="container-fluid mb-0">
  <div class="row min-height">
    <div class="col-md-4"></div>
    <!-- New Product -->
    <section class="bg-white col-md-8 col-xs-12 col-sm-12">
      <div class=" pb-5"><h2 class="m-0 text-center text-uppercase">Featured Products</h2></div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let product of products">
            <article class="card-wrapper">
              <div class="image-holder">
                <a [routerLink]="['/detail', product.id]" class="image-holder__link"></a>
                <div
                  class="image-liquid image-holder--original"
                  [ngStyle]="{ 'background-image': 'url(' + product.photoUrl + ')' }"
                ></div>
              </div>

              <div class="product-description">
                <div class="row">
                  <div class="col ">
                    <span>{{ product.title }}</span>
                  </div>
                  <div class=" col-xs-2 px-2">
                    &#8358; <span>{{ product.price | money }}</span>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="col-12 my-3"><mat-paginator [pageSizeOptions]="[6]"> </mat-paginator></div>
    </section>
  </div>
</div>
<div class="container-fluid">
  <div class="row bg-white my-5 pb-2">
    <div class="col-12 px-5"><h4 class="text-center pt-3 pb-2 mb-3 border-bottom">POPULAR PRODUCT</h4></div>
    <app-popular></app-popular>
  </div>
</div>
