<mat-table #table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a mat-icon-button [routerLink]="['/admin/products', element.id]">
        <mat-icon class="far fa-eye" aria-hidden="true"></mat-icon>
      </a>
      <button mat-icon-button color="warn" (click)="deleteProduct(element.id)">
        <mat-icon class="far fa-trash-alt" aria-hidden="true"></mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="featured">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Featured </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button *ngIf="element.featured == true" (click)="setFeatured(element.id)">
        <mat-icon class="fas fa-plus" aria-hidden="true"></mat-icon>
      </button>
      <button mat-icon-button *ngIf="element.featured == false" (click)="setFeatured(element.id)">
        <mat-icon class="fas fa-minus" aria-hidden="true"></mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="sold">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sold </mat-header-cell>
    <mat-cell *matCellDef="let element"> 0 </mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastupdated">
    <mat-header-cell *matHeaderCellDef mat-sort-header> LastUpdated </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.lastUpdated | date }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
