<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col text-center">
      <mat-form-field class="mx-2 smfont-dropdown">
        <mat-select [(value)]="sortBy" placeholder="Sort By">
          <mat-option value="">None</mat-option>
          <mat-option value="price">Price</mat-option>
          <mat-option value="sold">Sold</mat-option>
          <mat-option value="featured">Featured</mat-option>
          <mat-option value="lastUpdated">Last Updated</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mx-2 smfont-dropdown">
        <mat-select [(value)]="isSortAscending" [disabled]="sortBy == null" placeholder="Order By">
          <mat-option value="true">Ascending Order</mat-option>
          <mat-option value="false">Descending Order</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button [disabled]="sortBy == null" color="primary" class="mx-2" (click)="loadProducts()">
        Filter
      </button>
      <button mat-raised-button color="primary" class="mx-2" (click)="resetFilters()">Reset Filters</button>
      <a
        mat-raised-button
        routerLinkActive="active"
        [routerLink]="['/admin/product/create']"
        color="accent"
        class="float-right mt-2"
        >Create New Product</a
      >
    </div>
    <div class="col-12 mat-spinner-cont" *ngIf="!isLoading"><mat-spinner></mat-spinner></div>

    <div class="col-12" *ngIf="isLoading">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a mat-icon-button [routerLink]="['/admin/products', element.id]">
              <mat-icon class="far fa-eye" aria-hidden="true"></mat-icon>
            </a>
            <button mat-icon-button color="warn" (click)="archiveProduct(element.id)">
              <mat-icon class="fas fa-archive" aria-hidden="true"></mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Category </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.categoryName }} - {{ element.childCategoryName }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
          <mat-cell *matCellDef="let element">&#8358; {{ element.price | money }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="featured">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Featured </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-slide-toggle color="primary" (toggleChange)="setFeatured(element.id)" checked="{{ element.featured }}"
              >Featured</mat-slide-toggle
            >
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="sold">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Sold </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.sold }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastupdated">
          <mat-header-cell *matHeaderCellDef mat-sort-header> LastUpdated </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.lastUpdated | date }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"> </mat-paginator>
  </div>
</div>
