/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/css/bootstrap.min.css';
@import './assets/css/hamburgers.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import './assets/css/hamburgers.min.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  background: white;
  font-weight: 300;
}

.mat-spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 30%;
}
.mat-spinner-cont {
  height: 350px;
  position: relative;
}

.spiner-container {
  height: 350px;
  position: relative;
}
.spiner {
  position: absolute;
  top: 30%;
  width: 38px;
  left: 50%;
  height: 38px;
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-thumbnail {
  max-height: 200px;
  max-width: 100%;
  transition: 0.3s all;
}

button:focus,
.btn:focus {
  outline: none;
}
.smfont-dropdown {
  font-size: 14px;
}

.google {
  background-color: #db4437;
  color: white;
  font-size: 13px;
}

.cursor {
  cursor: pointer;
  transition: 0.3s all;
}
.cursor:hover {
  color: #e65540;
}

a {
  font-weight: 400;
  line-height: 1.7;
  margin: 0px;
  text-decoration: none !important;
  transition: all 0.4s;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none !important;
  color: #e65540;
}

/* start shopping btn */
.start-shop {
  outline: none;
  border-radius: 23px;
  font-size: 15px;
  color: white;
  transition: all 0.4s;
  height: 100%;
  background-color: #e65540;
  padding: 10px 30px;
  font-weight: 300;
}

.start-shop:hover {
  background-color: #222222;
}

/* ngx-gallery */
div.ngx-gallery-arrow-wrapper {
  z-index: 901 !important;
}
.ngx-gallery-image.ngx-gallery-active {
  z-index: 900 !important;
}

/* dialog styless for checkout*/
.checkout-container .mat-dialog-container {
  padding: 24px 15px;
}

/* dialog styless for cart*/
.dialog-container .mat-dialog-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.ng-inserted .ng-star-inserted {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.dialog-cont .mat-dialog-content {
  width: 100%;
  margin-bottom: 10px;
}
.ng-inserted .mat-dialog-title {
  width: 100%;
}
