/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './assets/css/bootstrap.min.css';
@import './assets/css/hamburgers.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import './assets/css/hamburgers.min.css';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', 'sans-serif';
  margin: 0;
  background: white;
  font-weight: 300;
}
.container {
  margin-top: 120px;
}

.img-thumbnail {
  max-height: 200px;
  max-width: 100%;
  transition: 0.3s all;
}

button:focus,
.btn:focus {
  outline: none;
}
.smfont-dropdown {
  font-size: 14px;
}
.cursor {
  cursor: pointer;
  transition: 0.3s all;
}
.cursor:hover {
  color: #e65540;
}

/* ------------------------------------ */
a {
  font-weight: 400;
  line-height: 1.7;
  margin: 0px;
  text-decoration: none !important;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none !important;
}

/* ngx-gallery */
div.ngx-gallery-arrow-wrapper {
  z-index: 1000 !important;
}

/* dialog styless */
.dialog-container .mat-dialog-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
.ng-inserted .ng-star-inserted {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.dialog-cont .mat-dialog-content {
  width: 100%;
  margin-bottom: 10px;
}
.ng-inserted .mat-dialog-title {
  width: 100%;
}
