<div class="container">
  <form #form="ngForm" (submit)="updateProduct(form)">
    <div class="row mt-3">
      <div class="col-12 text-center mb-2" *ngIf="product.deleted">
        <h5 class="text-danger">This is an archived product</h5>
      </div>
      <div class="col-5">
        <div class="form-group">
          <mat-form-field>
            <input
              matInput
              placeholder="Title"
              name="title"
              [(ngModel)]="productForEdit.title"
              required
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Price"
              name="price"
              required
              [(ngModel)]="productForEdit.price"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-select
              placeholder="Parent Category"
              required
              name="parent"
              (selectionChange)="parentSelectionChange()"
              [(ngModel)]="'' + productForEdit.categoryId"
            >
              <mat-option value="{{ parent.id }}" *ngFor="let parent of parentCategories">{{
                parent.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <mat-select
              placeholder="Child Category"
              required
              name="child"
              [(value)]="'' + productForEdit.childCategoryId"
            >
              <mat-option value="{{ child.id }}" *ngFor="let child of childCategories">{{
                child.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <textarea
              matInput
              placeholder="Description"
              rows="3"
              [(ngModel)]="productForEdit.description"
              required
              name="description"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="col-7 align-items-end">
        <div class="form-group col" *ngFor="let item of sizeArray; let i = index">
          <div class="d-inline mx-2">
            <mat-form-field>
              <input matInput placeholder="Size" name="size{{ i }}" [(ngModel)]="item.size" />
            </mat-form-field>
          </div>
          <div class="d-inline mx-2">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="Quantity"
                name="quantity{{ i }}"
                [(ngModel)]="item.quantity"
              />
            </mat-form-field>
          </div>
          <div class="d-inline mx-2">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="Threshold"
                name="threshold{{ i }}"
                [(ngModel)]="item.threshold"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group col" *ngIf="sizeArray?.length < 3">
          <div class="d-inline mx-2">
            <mat-form-field>
              <input
                matInput
                placeholder="Size"
                name="size"
                name="size{{ sizeArray.length }}"
                ngModel
              />
            </mat-form-field>
          </div>
          <div class="d-inline mx-2">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="Quantity"
                name="quantity{{ sizeArray.length }}"
                ngModel
              />
            </mat-form-field>
          </div>
          <div class="d-inline mx-2">
            <mat-form-field>
              <input
                type="number"
                matInput
                placeholder="Threshold"
                ngModel
                name="threshold{{ sizeArray.length }}"
              />
            </mat-form-field>
          </div>
        </div>

        <div class="form-group text-center ">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="form.invalid"
            class="mx-2"
          >
            Update
          </button>
          <button type="button" mat-raised-button class="mx-2" (click)="resetForm(form)">
            Reset
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
