<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center my-2" *ngIf="product.deleted">
      <h5 class="text-danger">This is an archived product</h5>
    </div>
    <div class="col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Title :</h6>
          <span class=""> {{ product.title }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Parent Category :</h6>
          <span class="">{{ product.categoryName }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Child Category :</h6>
          <span class=""> {{ product.childCategoryName }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Price :</h6>
          <span class=""> &#8358; {{ product.price | money }}</span>
        </li>

        <li class="list-group-item ">
          <h6 class="font-weight-bold d-block">Description :</h6>
          <span class="d-block"> {{ product.description }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Sold Count :</h6>
          <span class=""> {{ product.sold }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Featured :</h6>
          <mat-slide-toggle color="primary" (toggleChange)="setFeatured(product.id)" checked="{{ product.featured }}"
            >Featured</mat-slide-toggle
          >
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Created At :</h6>
          <span class=""> {{ product.created | date }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Last Updated At :</h6>
          <span class=""> {{ product.lastUpdated | date }}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="col">
        <div class="form-group">
          <h6 class="font-weight-bold">Main Photo :</h6>
          <div class="  "><img src="{{ product.photoUrl }}" alt="" class="img-thumbnail" /></div>
        </div>
        <div class="form-group" *ngFor="let item of sizesArray">
          <ul class="list-group">
            <li class="list-group-item font-weight-bold ">Size : {{ item.size }}</li>
            <li class="list-group-item py-2">Quantity : {{ item.quantity }}</li>
            <li class="list-group-item py-2">Threshold : {{ item.threshold }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
