<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center my-2" *ngIf="product.deleted">
      <div class="alert alert-danger" role="alert">This product is archived</div>
    </div>
    <div class="col-md-1">
      <div class=" text-center">
        <button class="shadow" mat-icon-button matTooltip="back" aria-label="Go back" (click)="back()">
          <mat-icon class="fas fa-arrow-left" aria-hidden="true"></mat-icon>
        </button>
        <button
          class="shadow"
          mat-icon-button
          color="warn"
          matTooltip="archive"
          aria-label="Archive"
          (click)="archiveProduct(product.id)"
          *ngIf="!product.deleted"
        >
          <mat-icon class="fas fa-archive" aria-hidden="true"></mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="restore"
          aria-label="Restore"
          class="text-primary shadow"
          (click)="restoreProduct(product.id)"
          *ngIf="product.deleted"
        >
          <mat-icon class="fas fa-undo" aria-hidden="true"></mat-icon>
        </button>
        <button
          class="shadow"
          mat-icon-button
          matTooltip="delete"
          aria-label="Delete"
          color="warn"
          (click)="deleteProduct(product.id)"
        >
          <mat-icon class="far fa-trash-alt" aria-hidden="true"></mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Title :</h6>
          <span class=""> {{ product.title }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Parent Category :</h6>
          <span class="">{{ product.categoryName }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Child Category :</h6>
          <span class=""> {{ product.childCategoryName }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Price :</h6>
          <span class=""> &#8358; {{ product.price | money }}</span>
        </li>

        <li class="list-group-item ">
          <h6 class="font-weight-bold d-block">Description :</h6>
          <span class="d-block"> {{ product.description }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Sold Count :</h6>
          <span class=""> {{ product.sold }}</span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Featured :</h6>
          <mat-slide-toggle
            color="primary"
            (toggleChange)="setFeatured(product.id)"
            [disabled]="product.deleted"
            checked="{{ product.featured }}"
            >Featured</mat-slide-toggle
          >
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Created At :</h6>
          <span class=""> {{ product.created | date }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h6 class="font-weight-bold">Last Updated At :</h6>
          <span class=""> {{ product.lastUpdated | date }}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <div class="col">
        <div class="form-group">
          <h6 class="font-weight-bold">Main Photo :</h6>
          <ng-container *ngIf="product.photoUrl; else elseTemplate">
            <div class=""><img src="{{ product.photoUrl }}" alt="" class="img-thumbnail" /></div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="alert alert-danger" role="alert">No photo has been uploaded for this product</div>
          </ng-template>
        </div>
        <div class="form-group" *ngFor="let item of sizesArray">
          <ul class="list-group">
            <li class="list-group-item font-weight-bold ">Size : {{ item.size }}</li>
            <li class="list-group-item py-2">Quantity : {{ item.quantity }}</li>
            <li class="list-group-item py-2">Threshold : {{ item.threshold }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
