<div class="container">
  <div class="row">
    <div class="col">
      <p>Title : {{ product.title }}</p>
      <p>Category Name : {{ product.categoryName }}</p>
      <p>ChildCategory Name : {{ product.childCategoryName }}</p>
      <p>Price : {{ product.price }}</p>
      <p>Created At : {{ product.created }}</p>
      <p>Deleted : {{ product.deleted }}</p>
      <p>Description : {{ product.description }}</p>
      <p>Sizes : {{ product.sizes }}</p>
      <p>Main Photo : <img src="{{ product.photoUrl }}" alt="" /></p>
    </div>
  </div>
</div>
