<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 sidebar">
		<app-user-sidenav [currentUser]="currentUser" ></app-user-sidenav>
    </div>
    <div class="col-md-8">
      <div class="spiner-container" *ngIf="isLoading"><img src="assets/images/spin2.svg" alt="" class="spiner" /></div>
      <div class="order-holder">
        <div class="filter col my-3">
          <div class="d-inline-block">
            <mat-form-field class="mx-2 smfont-dropdown">
              <mat-select [(value)]="isShipped" placeholder="Shipping Status">
                <mat-option value="false">Not Shipped</mat-option>
                <mat-option value="true">Shipped</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field class="mx-2 smfont-dropdown">
            <mat-select [(value)]="sortBy" placeholder="Sort By">
              <mat-option value="">None</mat-option>
              <mat-option value="orderDate">Order Date</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="mx-2 smfont-dropdown">
            <mat-select [(value)]="isSortAscending" [disabled]="sortBy == null" placeholder="Order By">
              <mat-option value="true">Ascending Order</mat-option>
              <mat-option value="false">Descending Order</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary" class="ml-md-4" (click)="loadProducts()">Filter</button>
        </div>
        <div class="card mb-5 shadow" *ngFor="let order of orders">
          <div class="card-body m-4">
            <div class="row">
              <div class="col-md-5 border-right detail mt-2 d-flex flex-column">
                <p class="t-head price"><span>Total Price :</span>&#8358; {{ order.totalPrice | money }}</p>
                <p><span>Reference :</span>{{ order.reference }}</p>
                <p><span>Order Date :</span>{{ order.orderDate | date }}</p>
                <p *ngIf="order.isShipped"><span>Shipping Date :</span>{{ order.shippingDate | date }}</p>
                <p><span>Name :</span>{{ order.user.lastName }}, {{ order.user.firstName }}.</p>
                <p><span>Phone Number :</span>{{ order.phoneNumber }}</p>
                <p *ngIf="order.phoneNumber2"><span>Second Phone Number :</span>{{ order.phoneNumber2 }}</p>
                <p class=""><span>Shipping Address :</span>{{ order.address }}, {{ order.city }}, {{ order.state }}.</p>
                <div class="status">
                  <p class="mb-0">
                    <span class="price text-danger" [ngClass]="{ 'text-success': order.isShipped }">{{
                      order.isShipped ? 'Shipped' : 'Not Shipped'
                    }}</span>
                  </p>
                </div>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-6 d-flex flex-column pr-2" *ngFor="let item of order.items">
                    <div class="mb-2"><img src="{{ item.photoUrl }}" alt="" class="img-thumbnail" /></div>
                    <div>
                      <p class="t-head"><span>Title :</span>{{ item.title }}</p>
                    </div>
                    <div>
                      <p><span>Quantity : </span>{{ item.quantity }}</p>
                      <p><span>Size : </span>{{ item.size }}</p>
                      <p class="price"><span>Price : </span>&#8358; {{ item.price | money }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 my-3"><mat-paginator [pageSizeOptions]="[2, 4]"> </mat-paginator></div>
  </div>
</div>
