<footer class="footer mt-3">
  <div class="container mt-0">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2019 | Designed With by <a href="#">Your Company Name</a></p>

    <ul class="social_footer_ul">
      <li>
        <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>
</footer>
