<div class="payment-loading-container" *ngIf="paymentStart">
  <div class="payment-loading"><img src="assets/images/spin2.svg" alt="" class="spiner" /></div>
</div>
<div class="body">
  <div class="container" *ngIf="isCartEmpty">
    <div class="row flex-column  align-items-center">
      <div class="icon col-12 text-center my-5"><i class="fas fa-cart-plus"></i></div>
      <p class="text-danger">There are currently no items in your shopping cart</p>
      <div class="button col-12 text-center">
        <button class="start-shop btn shadow" (click)="startShopping()">START SHOPPING</button>
      </div>
    </div>
  </div>
  <div class="alert alert-info alert-dismissible fade show warn" id="closeWarn" role="alert" *ngIf="warn">
    Some items have been removed from your cart because they no longer exists.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeWarn($event)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <ng-container *ngIf="!isLoading && products.length > 0; else elseTemplate">
    <div class="container cart-container">
      <div class="row row-pb-lg">
        <div class="col-12">
          <div class="product-name d-flex">
            <div class="one-forth text-center px-4"><span>Product</span></div>
            <div class="one-eight text-center"><span>Price</span></div>
            <div class="one-eight text-center"><span>Size</span></div>
            <div class="one-eight text-center"><span>Quantity</span></div>
            <div class="one-eight text-center"><span>Total</span></div>
            <div class="one-eight text-center px-4"><span>Remove</span></div>
          </div>
          <div class="product-cart d-flex" *ngFor="let product of products">
            <div class="one-forth">
              <div class="product-img cursor " (click)="viewProduct(product.productId)">
                <img src="{{ product.photoUrl }}" alt="" class="img-thumbnail hover-shadow" />
              </div>
              <div class="display-tc">
                <h3 class="cursor d-inline text-capitalize" (click)="viewProduct(product.productId)">
                  {{ product.title }}
                </h3>
              </div>
            </div>
            <div class="one-eight text-center">
              <div class="display-tc">
                <span class="price"> &#8358; {{ product.price | money }}</span>
              </div>
            </div>
            <div class="one-eight text-center">
              <div class="display-tc">
                <span class="price">{{ product.size }}</span>
              </div>
            </div>
            <div class="one-eight text-center  quantity-container">
              <div class="display-tc d-flex align-items-center">
                <button mat-icon-button (click)="removeQuantity(product.productId, product.size)">
                  <mat-icon class="fas fa-minus" aria-hidden="true"></mat-icon>
                </button>
                <input
                  type="number"
                  name="quantity"
                  class="form-control text-center"
                  min="1"
                  disabled
                  value="{{ product.quantity }}"
                />
                <button mat-icon-button (click)="addQuanitity(product.productId, product.size)">
                  <mat-icon class="fas fa-plus" aria-hidden="true"></mat-icon>
                </button>
              </div>
            </div>
            <div class="one-eight text-center">
              <div class="display-tc">
                <span class="price">&#8358; {{ product.price * product.quantity | money }}</span>
              </div>
            </div>
            <div class="one-eight d-flex justify-content-center align-items-center remove-container ">
              <button mat-icon-button color="warn" (click)="remove(product.productId, product.size)">
                <mat-icon class="fas fa-trash" aria-hidden="true"></mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 offset-8 total-container">
        <div class="row mb-2">
          <div class="col-12 mb-3 mt-4 ">
            <h5 class="d-inline-block mx-3 text-uppercase">Total:</h5>
            <h6 class="total-price d-inline-block mx-2 mt-1">&#8358; {{ totalPrice | money }}</h6>
          </div>
          <div class="col-12">
            <div class="form-group d-flex justify-content-center mt-3 col">
              <button type="submit" class="add-cart btn shadow" (click)="checkout()">PROCEED TO CHECKOUT</button>
            </div>
          </div>
        </div>
      </div>
      <button
        angular4-paystack
        [key]="'pk_test_5c4f5d145c5e613e2be0756a2d7ff1a9faf51527'"
        [email]="currentUser?.email"
        [amount]="totalPrice * 100"
        [ref]="reference"
        (close)="paymentCancelled()"
        (callback)="paymentDone($event)"
        id="paystackbtn"
        [hidden]="true"
      ></button>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="container" *ngIf="isLoading && storedItem.length > 0">
      <div class="row">
        <div class="col-12 spiner-container"><img src="assets/images/spin2.svg" alt="" class="spiner" /></div>
      </div>
    </div>
  </ng-template>
</div>
