<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col mt-4 text-center">
      <mat-form-field class="mx-2 smfont-dropdown">
        <mat-select [(value)]="productQuery.sortBy">
          <mat-option value="">None</mat-option>
          <mat-option value="price">Price</mat-option>
          <mat-option value="sold">Sold</mat-option>
          <mat-option value="lastUpdated">Last Updated</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mx-2 smfont-dropdown">
        <mat-select [(value)]="productQuery.isSortAscending" [disabled]="productQuery.sortBy == null">
          <mat-option value="true">Ascending Order</mat-option>
          <mat-option value="false">Descending Order</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        [disabled]="productQuery.sortBy == null"
        color="primary"
        class="mx-2"
        (click)="getArchivedProducts()"
      >
        Filter
      </button>
      <button mat-raised-button color="primary" class="mx-2" (click)="resetFilters()">Reset Filters</button>
    </div>
    <div class="col-12 mat-spinner-cont" *ngIf="!isLoading"><mat-spinner></mat-spinner></div>

    <div class="col-12" *ngIf="isLoading">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a mat-icon-button [routerLink]="['/admin/products', element.id]">
              <mat-icon class="far fa-eye" aria-hidden="true"></mat-icon>
            </a>
            <button mat-icon-button (click)="restoreProduct(element.id)">
              <mat-icon class="fas fa-undo" aria-hidden="true"></mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteProduct(element.id)">
              <mat-icon class="far fa-trash-alt" aria-hidden="true"></mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Category </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.categoryName }} - {{ element.childCategoryName }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sold">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Sold </mat-header-cell>
          <mat-cell *matCellDef="let element"> 0 </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastupdated">
          <mat-header-cell *matHeaderCellDef mat-sort-header> LastUpdated </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.lastUpdated | date }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"> </mat-paginator>
  </div>
</div>
