<mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
  <mat-tab label="Product Details">
    <app-product-detail [product]="product"></app-product-detail>
  </mat-tab>
  <mat-tab label="Product Photo Manager">
    <ng-template matTabContent>
      <app-product-photos [photos]="product.photos" [productId]="product.id"> </app-product-photos>
    </ng-template>
  </mat-tab>
  <mat-tab label="Edit Product">
    <ng-template matTabContent>
      <app-edit-product [product]="product"></app-edit-product>
    </ng-template>
  </mat-tab>
</mat-tab-group>
