.header1 {
  transition: all 0.3s;
  margin-bottom: 120px;
}

/*[ Header Desktop ]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.container-menu-header {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
}

/*[ Menu ]
===========================================================*/
.wrap_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/*[ Logo ]
-----------------------------------------------------------*/
.logo {
  display: block;
  position: absolute;
  left: 52px;
  top: 50%;
  transform: translateY(-50%);
}

.logo img {
  max-height: 27px;
}

/*[ Menu ]
-----------------------------------------------------------*/
.main_menu {
  list-style-type: none;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main_menu > li {
  display: block;
  position: relative;
  padding: 20px;
}
.fa,
.fas {
  font-size: 18px;
}

.main_menu > li > span {
  color: #777;
  padding: 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.main_menu > li:hover > span {
  text-decoration: none;
  border-bottom: 1px solid #333333;
  color: #e65540;
}
.main_menu > li:hover > span.no-border {
  border: none;
}

a,
span {
  color: #777;
}
a:hover,
span:hover {
  color: #e65540;
}
.main_menu li {
  position: relative;
}

.main_menu > li:hover > .sub_menu {
  opacity: 1;
  visibility: visible;
}

.sub_menu {
  list-style-type: none;
  position: absolute;
  z-index: 1100;
  top: 0;
  left: 100%;
  width: 180px;
  background-color: #222222;
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
}

.main_menu > li > .sub_menu {
  top: 100%;
  left: -20px;
  position: absolute;
}
.main_menu > li > .user-menu {
  width: 125px;
  top: 45px;
  left: -40px;
}

.login {
  font-size: 17px;
  font-weight: 400;
  margin: 0 2px;
}

.sub_menu li:hover > .sub_menu {
  visibility: visible;
  opacity: 1;
}

.sub_menu li {
  transition: all 0.3s;
}

.sub_menu li,
.sub_menu a {
  display: block;
  padding: 10px;
  font-size: 13px;
  color: white;
}

.sub_menu > li:hover > a {
  color: #e65540;
  text-decoration: none;
}

/* ------------------------------------ */
.header-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  right: 52px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-wrapicon1,
.header-wrapicon2 {
  height: 100%;
  position: relative;
}
.fa-user {
  font-size: 20px;
}
.header-wrapicon1 img,
.header-wrapicon2 img {
  height: 100%;
}

.header-icon1:hover,
.header-icon2:hover {
  cursor: pointer;
}

.header-icons-noti {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-weight: bolder;
  border-radius: 50%;
  background-color: #de2c12;
  color: white;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -10px;
}

.linedivide1 {
  display: block;
  height: 20px;
  width: 1px;
  background-color: #e5e5e5;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 5px;
}

/*[ Header Mobile ]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.wrap_header_mobile {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  display: none;
}

/*[ Logo mobile ]
-----------------------------------------------------------*/
.logo-mobile {
  display: block;
}

.logo-mobile img {
  max-height: 27px;
}

/*[ btn show menu ]
-----------------------------------------------------------*/
.btn-show-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hamburger {
  transform: scale(0.8);
  margin-top: 5px;
}

/*[ Header icon mobile ]
-----------------------------------------------------------*/
.header-icons-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.linedivide2 {
  display: block;
  height: 20px;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.header-icons-mobile .header-cart {
  width: 300px;
  top: 190%;
  right: -80px;
  z-index: 1100;
  transform-origin: top right;
}

@media (max-width: 992px) {
  .wrap_header_mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex !important;
  }

  .container-menu-header {
    display: none;
  }

  header {
    height: auto !important;
  }
}
