<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col text-center">
      <div class="mr-5 d-inline-block">
        <mat-form-field class="mx-2 smfont-dropdown">
          <mat-select [(value)]="orderQuery.isShipped" placeholder="Shipping Status">
            <mat-option value="false">Not Shipped</mat-option>
            <mat-option value="true">Shipped</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field class="mx-2 smfont-dropdown">
        <mat-select [(value)]="orderQuery.sortBy" placeholder="Sort By">
          <mat-option value="">None</mat-option>
          <mat-option value="orderDate">Order Date</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mx-2 smfont-dropdown">
        <mat-select
          [(value)]="orderQuery.isSortAscending"
          [disabled]="orderQuery.sortBy == null"
          placeholder="Order By"
        >
          <mat-option value="true">Ascending Order</mat-option>
          <mat-option value="false">Descending Order</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mx-2" (click)="getOrders()">Filter</button>
      <button mat-raised-button color="primary" class="mx-2" (click)="resetFilters()">Reset Filters</button>
    </div>
    <div class="col-12 mat-spinner-cont" *ngIf="!isLoading"><mat-spinner></mat-spinner></div>

    <div class="col-12" *ngIf="isLoading">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a mat-icon-button matTooltip="view" aria-label="View" [routerLink]="['/admin/orders', element.id]">
              <mat-icon class="far fa-eye" aria-hidden="true"></mat-icon>
            </a>
            <button mat-icon-button matTooltip="archive" aria-label="Archive" color="warn">
              <mat-icon class="fas fa-archive" aria-hidden="true"></mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Reference </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.reference }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="totalPrice">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Total Price </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.totalPrice }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="orderDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.orderDate | date }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="shipped">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Order Status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.isShipped ? 'Shipped' : 'Not Shipped' }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"> </mat-paginator>
  </div>
</div>
