<div class="container-fluid my-0">
  <div class="row">
    <div class="col-12 p-2 border-bottom"><h4>Shipping Address</h4></div>
    <div class="col-12 px-3">
      <form name="form" role="form" #proceedForm="ngForm">
        <div class="form-group">
          <mat-form-field appearance="standard">
            <mat-label>State</mat-label>
            <input
              matInput
              type="text"
              id="state"
              name="state"
              maxlength="254"
              required
              [(ngModel)]="userAddress.state"
              #state="ngModel"
            />
            <mat-error *ngIf="state.hasError('required')"> Your state is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="standard">
            <mat-label>City</mat-label>
            <input
              matInput
              type="text"
              id="city"
              name="city"
              maxlength="254"
              required
              [(ngModel)]="userAddress.city"
              #city="ngModel"
            />
            <mat-error *ngIf="city.hasError('required')"> Your city is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="standard">
            <mat-label>Address</mat-label>
            <input
              matInput
              type="text"
              id="address"
              name="address"
              maxlength="254"
              required
              [(ngModel)]="userAddress.address"
              #address="ngModel"
            />
            <mat-error *ngIf="address.hasError('required')"> Your address is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="standard">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              type="text"
              id="phoneNumber"
              name="phoneNumber"
              maxlength="254"
              required
              [(ngModel)]="userAddress.phoneNumber"
              #phoneNumber="ngModel"
            />
            <mat-error *ngIf="phoneNumber.hasError('required')"> Your phone number is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="standard">
            <mat-label>Optional Phone Number</mat-label>
            <input
              matInput
              type="number"
              id="phoneNumber2"
              name="phoneNumber2"
              maxlength="254"
              [(ngModel)]="phoneNumber2"
            />
          </mat-form-field>
        </div>
        <mat-checkbox name="userAddress" [(ngModel)]="setAsDefaultAddress"
          >Set as default shipping details</mat-checkbox
        >
        <div class="form-group d-flex justify-content-center mt-3 col">
          <button (click)="proceed()" class="add-cart btn shadow text-uppercase" [disabled]="proceedForm.invalid">
            Checkout
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
