div.container {
  margin-top: 140px;
}

.icon {
  font-size: 16px;
  cursor: pointer;
}
mat-form-field {
  width: 50%;
}
button {
  width: 50%;
}

mat-label {
  color: rgba(0, 0, 0, 0.5) !important;
}
.form-group {
  margin-left: 20px;
}
span {
  font-size: 13px;
  font-weight: 300;
  color: #007bff;
  transition: 0.3 all;
  cursor: pointer;
}

span:hover {
  color: #222222;
}
